.Header {
    background-color: #f5f5f5;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.Body {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;
}

.Row {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;

    &:nth-child(odd) {
        background-color: #f9f9f9;
    }

    &:nth-last-child(1) {
        border-bottom-width: 0px;
    }
}

.Cell {
    margin: 10px;
}